@media (max-width: 780px) 
{


    //menu bar angepasst
    $color: white;
    $size: 30px;

    @mixin pill(){
    border-radius: $size;
    }


    .wrapper
    {
        &.active 
        {
            main
            {
                transform: translate3d(0, 50%, -120px);
            }
        }

        .nav-a
        {
            &:last-child
            {
                margin: 1.5rem 0 0 0 ;
            }
            margin: 1.5rem 0 0 0 ;
            padding: 1rem;
            &:hover 
            {   
                img
                {
                    transform: translate(0, 0px);
                }
            }
        }

    }



    header 
    {
        justify-content: space-between;
        .logo2 
        {
            padding-top: 1rem;
            display: flex;
            justify-content: center;
            color: var(--text);
            font-weight: 700;
            text-decoration: none;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .logo 
        {
            display: none;
        }
    }


    .home {
        $size: 15rem;
        flex-direction: column;
        
        .profile-image {
            border-radius: $size;
            width: $size;
            height: $size;

            
            .img-vinzenz {
                width: $size;
            }
        }

        .intro-text {
            color: white;
            max-width: 45rem;
            text-align: center;
            
            p {
                font-size: 1rem;

            }

            h1 {
                font-size: 2rem;
            }
        }
    }

    .about
    {
        position: relative;
        padding: 130px 10vw;
        color: #fff;
        height: 100%;
        min-height: 100vh;
    
        h1 {
            font-size: 6vw;
            margin-bottom: 2rem;
        }
        p {
            font-size: 5vmin;
        }
    }

    .contact {
        .contact-buttons {
            .buttons {
                width: 7.5rem;
                height: 7.5rem;
                float: none;
                padding: 1rem;
            }
        }
    }
}