@media (max-width: 780px) 
{


    //menu bar angepasst
    $color: white;
    $size: 30px;

    @mixin pill(){
    border-radius: $size;
    }


    .wrapper
    {
        &.active 
        {
            main
            {
                transform: translate3d(0, 50%, -120px);
            }
        }

        .nav-a
        {
            &:last-child
            {
                margin: 1.5rem 0 0 0 ;
            }
            margin: 1.5rem 0 0 0 ;
            padding: 1rem;
            &:hover 
            {   
                img
                {
                    transform: translate(0, 0px);
                }
            }
        }

    }



    header 
    {
        justify-content: space-between;
        .logo2 
        {
            padding-top: 1rem;
            display: flex;
            justify-content: center;
            color: var(--text);
            font-weight: 700;
            text-decoration: none;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .logo 
        {
            display: none;
        }
    }
}